.container {
    display: flex;
    height: 300vh;
    padding: 0px;
    text-align: center;
    background-color: aliceblue;
    margin: 0px;
}

.index {
    width: 90px;
    border-right: 5px solid black;
    padding-right: 10px;
    /* height: 251vh; */
    background-color: lawngreen;
    margin: 0px;
}

.home {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px;
}

.mstr {
    background-color: #ff9500;
}

.tyatto {
    background-color: #009bbf;
}

.RIP {
    background-color: #00bb85;
}

.cozmic {
    background-color: #9b7cb6;
}

.photo {
    display: flex;
    height: 200px;
}